* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    justify-content: left;
    max-width: 512px;
    border-radius: 5px;
}

#main .logo {
    margin-bottom: 30px;
}

#main label {
    color: black;
    font-size: 1.5em;
    margin-bottom: 1.3em;
}

#main input {
    width: 100%;
    height: 3em;
    margin: .6em 0 .8em 0;
    padding: 0 .8em;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    border-bottom: 1px solid #B76301;
}

#main input:hover { 
    border-bottom: 2px solid #B76301;
}

#main button {
    border: none;
    border-radius: 5px;
    padding: .45em 2.5em;
    font-size: 1.5em;
    font-weight: bold;
    background: #007DA5;
    color: white; 
    margin-top: 1em;
    border: .1em solid #007DA5;
}

#main button:hover {
    background: white;
    color: #007DA5; 
}


